.review{
    min-height: 700px;
    padding: 120px 0 130px 0;
    background-color: $review__bgcolor;
    &>.container>.divider{
        background-color: $review__bgcolor-divider;
    }
    &__item{
        margin-top: 70px;
        display: grid;
        grid-template-columns: 494px 494px;
        grid-gap: 147px 96px;
    }
    &__card{
        display: grid;
        grid-template-columns: 95px 349px;
        grid-column-gap: 50px;
        width: 494px;
        &-icon{
            &>img{
                width: 95px;
                border-radius: 50%;
            }
        }
    }
    &__text{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 13px;
        text-align: left;
        &-name{
            margin-top: 35px;
        }
        &-job{
            margin-top: 11px;
            color: $review__color-card-text-job;
        }
    }
}