.service{
    padding: 120px 0 130px 0;
    min-height: 748px;
    background-color: $service__bgcolor;
    &>.container>.divider{        
        background-color: $service__bgcolor-divider;
    }
    &__items{   
        margin-top: 80px;
        display: grid;
        grid-template-columns: repeat(4,298px);
        // column-gap: 90px;
    }
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        &-img{
            position: relative;
            height: 125px;
        }
        &>.title{
            margin-top: 62px;
            margin-bottom: 0;
        }
        &>p{
            margin-top: 28px;
            margin-bottom: 0;
            max-width: 200px;
        }
    }
    &__flag{
        &-stick{
            width: 124px;
            height: 10px;
            top: 46%;
            right: 30px;
            background-color: $service__bgcolor-flag-stick;
            border-radius: 4px;
            position: relative;
            transform: rotateZ(75deg);
        }
        &-canvas{
            position: relative;
            width: 0;
            height: 0;
            left: 39px;
            z-index: 1;
            border-top: 62px solid $service__bgcolor-flag-canvas;
            border-right: 44px solid transparent;
            background-color: $service__bgcolor-flag-canvas;
            &::before{
                content: "";
                position: absolute;                
                width: 0;
                height: 0;
                top: -62px;
                right: 0;
                border-top: 62px solid $service__bgcolor-flag-canvas;
                border-left: 17px solid transparent;
            }
            &::after{
                content: "";
                position: absolute;
                left: 27px;
                z-index: 1;
                border-top:11px solid $service__bgcolor-flag-canvas-after;
                border-right: 17px solid transparent;
            }
            &_bottom{
                position: relative;
                width: 0;
                height: 0;
                left: 67px;
                bottom: 50px;
                border-width: 45px 30px 16px;
                border-color: $service__bgcolor-flag-canvas-bottom $service__bgcolor-flag-canvas-bottom transparent;
                border-style: solid;
                transform: rotate(-90deg);
            }
        }
    }
    &__pen{
        &-angle{
            position: relative;
            border-left: 40px solid transparent;
            border-right: 40px solid transparent;
            border-top: 46px solid #ffecba;
            border-radius: 50%;
            transform: rotate(30deg);
            top: 82px;
            right: 18px;
            &::after{
                content: "";
                position: absolute;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 12px solid #393939;
                bottom: 0;
                left: -10px;
            }
        }
        &-tree{
            position: relative;
            height: 23px;
            width: 77px;
            background-color: #f1c40f;
            z-index: 1;
            transform: rotate(-60deg);
            &::before{
                content: "";
                position: absolute;
                height: 23px;
                width: 77px;
                top: 23px;
                right: 0;
                background-color: #f39c12;
                z-index: 1;
            }
        }
        &-end{
            position: relative;
            height: 23px;
            width: 22px;
            left: 52px;
            bottom: 66px;
            background-color: #daeaf2;
            transform: rotate(-60deg);
            &::before{
                content: "";
                position: absolute;
                height: 23px;
                width: 22px;
                top: 23px;
                right: 0;
                background-color: #bedae8;
            }
        }
        &-wash{
            position: relative;
            width: 23px;
            height: 23px;
            bottom: 87%;
            left: 78%;
            background-color: #e88f8d;
            border-top-left-radius: 100%;
            transform: rotate(30deg);
            &::before{
                content: "";
                position: absolute;
                height: 23px;
                width: 23px;
                left: 23px;
                top: 0;
                background-color: #d97475;
                border-top-right-radius: 100%;
            }
        }
    }

    // &__pinion{
    //     position: relative;
    //     background: #487fbc;
    //     width: 98px;
    //     height: 98px;
    //     margin: 14px;
    //     transform: rotate(45deg);
    //     border-radius: 20px;
    //     &::after{
    //         content: "";
    //         position: absolute;
    //         background: inherit;
    //         width: 98px;
    //         height: 98px;
    //         margin: 0px;
    //         top: 0;
    //         left: 0;
    //         transform: rotate(45deg);
    //         border-radius: 20px;
    //     }
    // }
}