@import 'libs/bootstrap-reboot.min';
@import 'base/variables';

* {
    margin: 0;
    padding: 0;
}
.container {
    width: 1140px;
    margin: 0 auto;
    text-align: center;
}
.divider {
    width: 86px;
    height: 4px;
    margin: 22px auto 25px auto;
}
a:hover{
    text-decoration: none;
    color: #fff;
}
@import 'blocks/welcome';
@import 'blocks/service';
@import 'blocks/team';
@import 'blocks/skills';
@import 'blocks/portfolio';
@import 'blocks/review';
@import 'blocks/contacts';
@import 'blocks/footer';

@import 'blocks/title';
@import 'blocks/button';
@import 'base/animations';