@keyframes c1 {
    0% {
      stroke-dasharray: 0 1383;
    }
    100% {
      stroke-dasharray: 900 1383;
    }
}  
@keyframes c2 {
    0% {
      stroke-dasharray: 0 1383;
    }
    100% {
      stroke-dasharray: 750 1383;
    }
}  
@keyframes c3 {
    0% {
      stroke-dasharray: 0 1383;
    }
    100% {
      stroke-dasharray: 730 1383;
    }
}  
@keyframes c4 {
    0% {
      stroke-dasharray: 0 1383;
    }
    100% {
      stroke-dasharray: 870 1383;
    }
}