$welcome__bgcolor: #87509c;
$welcome__bgcolor-item-hover:#643a79;
$welcome__color-link:#fff;
$service__bgcolor:#17c2a4;
$service__bgcolor-divider:#14a58c;
$service__bgcolor-flag-stick:#fff;
$service__bgcolor-flag-canvas:#f57b71;
$service__bgcolor-flag-canvas-after:#aa1f1f;
$service__bgcolor-flag-canvas-bottom:#d84848;
$team__color-textall:#3c4761;
$team__color-job:#30bae7;
$team__bgcolor:#e7f1f8;
$team__bgcolor-divider:#c8d9e5;
$skills__bgcolor-divider:#dfe8ed;
$portfolio__bgcolor:#ffdd99;
$portfolio__bgcolor-divider: #e5c37f;
$portfolio__bgcolor-tab:#ebc985;
$portfolio__bgcolor-tab-active:#fff;
$portfolio__bgcolor-button:#17c2a4;
$review__bgcolor:#d74680;
$review__bgcolor-divider:#b73c6d;
$review__color-card-text-job:#efa18f;
$contacts__bgcolor:#3c5499;
$contacts__bgcolor-divider:#273a71;
$contacts__bgcolor-form: #273a71;
$footer__bgcolor:#344b8e;
$footer__color-link-hover:#30bae7;